<div class="row styles">
  <div class="col-md-3 col-xs-12 label">
    <%= t('.styles', scope: :hallway_styles) %>
    <a id="station_styles" class="anchor">&nbsp;</a>
  </div>
  <div class="col-md-9 col-xs-12">
    <ul class="list-unstyled list">
      <% station.styles.with_translations_and_photos.each do |style| %>
        <li class="cat" style="font-weight: bold">
          <span class="cat-name">
            <%= style.name %>
          </span>
          <div class="row">
            <% style.style_photos.each do |photo| %>
              <div class="col-xs-4">
                <%= image_tag photo.file_url(:thumb) %>
              </div>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
