<div class="col-md-12 if-available">
  <div class="form-group">
    <label class="control-label"><%= t('.style', scope: :hallway_styles) %></label>
    <%= f.select :style_ids,
                 options_from_collection_for_select((@order.station.styles + @order.styles).uniq, :id, :name, f.object.style_ids),
                 { include_blank: false },
                 { class: 'form-control selectpicker', multiple: true, 'data-live-search' => 'true' } %>
  </div>
</div>

<script>
  $('.selectpicker').selectpicker({
    iconBase: 'fa',
    tickIcon: 'fa-check',
    noneSelectedText: '<%= I18n.t('js.nothing_selected', scope: :hallway_styles) %>'
  });
</script>
