<div class="btn-group btn-group-country" role="tablist">
  <%= link_to t('.all', scope: :hallway_styles),
              station_admin_styles_path,
              class: "btn btn-default btn-categories-country #{ 'active' unless session[:in_my_country] }" %>
  <%= link_to t('.in_my_country', scope: :hallway_styles),
              station_admin_styles_path(in_my_country: true),
              class: "btn btn-default btn-categories-country #{ 'active' if session[:in_my_country] }" %>
</div>

<br>

<div class="btn-group nav-services" role="tablist">
  <a href="#styles" aria-controls="styles" role="tab" data-toggle="tab" class="btn btn-primary btn-categories-services"><%= t('.styles', scope: :hallway_styles) %></a>
  <a href="#style_synonyms" aria-controls="style_synonyms" role="tab" data-toggle="tab" class="btn btn-primary btn-categories-services"><%= t('.style_synonyms', scope: :hallway_styles) %></a>
</div>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="styles">
    <div class="row">
      <div class="col-sm-12 ui-sortable">
        <div class="widget">
          <div class="widget-content padding">
            <form class="form-horizontal" role="form">
              <table class="table table-striped" cellspacing="0" width="100%" id="styles-datatable"
                     data-source="<%= station_admin_styles_path(format: :json, in_my_country: session[:in_my_country]) %>">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th><%= t('.style_name', scope: :hallway_styles) %></th>
                    <th><%= t('.in_my_country', scope: :hallway_styles) %></th>
                    <th><%= t('.edit', scope: :hallway_styles) %></th>
                    <th><%= t('.delete', scope: :hallway_styles) %></th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="style_synonyms">
    <div class="row">
      <div class="col-sm-12 ui-sortable">
        <div class="widget">
          <div class="widget-content padding">
            <form class="form-horizontal" role="form">
              <table class="table table-striped" id="style-synonyms-datatable" cellspacing="0" width="100%"
                     data-source="<%= station_admin_style_synonyms_path(format: :json, in_my_country: session[:in_my_country]) %>">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th><%= t('.text', scope: :hallway_styles) %></th>
                    <th><%= t('.in_my_country', scope: :hallway_styles) %></th>
                    <th><%= t('.edit', scope: :hallway_styles) %></th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
