<li>
  <%= link_to station_admin_styles_path(in_my_country: true), class: @active_tab == 'styles' ? 'active' : nil do %>
    <span><%= t('.styles', scope: :hallway_styles) %></span>
  <% end %>
</li>
