<li>
  <%= link_to station_admin_station_station_styles_path(@station), class: @active_tab == 'station_styles' ? 'active' : nil do %>
    <span><%= t('.station_styles', scope: :hallway_styles) %></span>
  <% end %>
</li>
