<div class="page-heading">
  <h1><i class="fa fa-edit"></i> <%= t('.station_style_edit', scope: :hallway_styles) %></h1>
</div>

<div class="row">
  <div class="col-sm-12 ui-sortable">
    <%= form_tag station_admin_station_station_styles_path(@station) do %>
      <%= select_tag :id,
                     options_from_collection_for_select(@styles, 'id', 'name'),
                     class: 'selectpicker',
                     'data-live-search' => 'true' %>
      <button type="submit" class="btn btn-success">
        <%= t('.add', scope: :hallway_styles) %>
      </button>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 ui-sortable">
    <div class="widget">
      <div class="widget-content padding">
        <form class="form-horizontal" role="form">
          <table class="table table-striped" cellspacing="0" width="100%" id="station-styles-datatable"
                 data-source="<%= station_admin_station_station_styles_path(@station, format: :json) %>">
            <thead>
              <tr>
                <th>ID</th>
                <th><%= t('.style_name', scope: :hallway_styles) %></th>
                <th><%= t('.remove', scope: :hallway_styles) %></th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
