<div class="page-heading">
  <h1><i class="fa fa-edit"></i> <%= t('.style_synonym_edit', scope: :hallway_styles) %></h1>
</div>

<div class="row">
  <div class="col-sm-12 ui-sortable">
    <div class="widget">
      <%= form_for [:station_admin, @style_synonym],
                   html: { class: 'form-horizontal', role: 'form' } do |f| %>
        <div class="widget-content padding">

          <%= f.fields_for :translatable_columns_values do |tr| %>
            <% ['en', current_user.country_setting.locale].each do |locale| %>
              <div class="form-group">
                <%= tr.fields_for locale do |translation| %>
                  <%= translation.hidden_field :locale, value: locale %>
                  <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">
                      <%= "#{ I18n.with_locale(locale) { t('.title', scope: :hallway_styles) } }: #{ locale.capitalize }" %>
                    </label>
                    <div class="col-sm-10">
                      <%= translation.text_field :name,
                                                 value: I18n.with_locale(locale) { @style_synonym.name },
                                                 placeholder: t('.title', scope: :hallway_styles),
                                                 class: 'form-control',
                                                 required: 'required' %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>

          <div class="form-group">
            <div class="col-lg-9 col-xs-12">
              <div class="text-right">
                <%= f.submit t('.save', scope: :hallway_styles), class: 'btn btn-default' %>
              </div>
            </div>
          </div>

        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 ui-sortable">
    <%= form_tag station_admin_style_synonym_manage_styles_path(@style_synonym) do %>
      <%= select_tag :id,
                     options_from_collection_for_select(@styles, 'id', 'name'),
                     class: 'selectpicker',
                     'data-live-search' => 'true' %>
      <button type="submit" class="btn btn-success">
        <%= t('.add', scope: :hallway_styles) %>
      </button>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 ui-sortable">
    <div class="widget">
      <div class="widget-content padding">
        <form class="form-horizontal" role="form">
          <table class="datatables table table-striped" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>ID</th>
                <th><%= t('.name', scope: :hallway_styles) %></th>
                <th><%= t('.style_edit', scope: :hallway_styles) %></th>
                <th><%= t('.unbind', scope: :hallway_styles) %></th>
              </tr>
            </thead>
            <tbody>
              <% @style_synonym.styles.each do |style| %>
                <tr>
                  <td><%= style.id %></td>
                  <td><%= style.name %></td>
                  <td><%= link_to t('.style_edit', scope: :hallway_styles),
                                  edit_station_admin_style_path(style) %></td>
                  <td>
                    <%= link_to t('.unbind', scope: :hallway_styles),
                                station_admin_style_synonym_manage_style_path(@style_synonym, style),
                                method: :delete,
                                data: { confirm: t('.unbind', scope: :hallway_styles) } %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
