<div class="col-md-12">
  <div class="form-group">
    <label class="control-label"><%= t('.style', scope: :hallway_styles) %></label>
    <%= select_tag 'order[style_ids]',
                   options_from_collection_for_select(@station.styles, :id, :name),
                   include_blank: false,
                   class: 'form-control selectpicker',
                   multiple: true,
                   'data-live-search' => 'true',
                   'data-container' => 'order_style_ids' %>
  </div>
</div>
